body{
    background-color: #C0EEE4;
    font-family: "Helvetica", sans-serif;
    text-align: center;
}

img{
    margin: 3% 0;
    position:relative;
    height: 200px;
    width: auto;
}

.top-section{
    width: 60%;
}

