body{
    background-color: white;
 
}

h1,h3{
    text-align: center;
    font-family: "Helvetica", sans-serif; 
    color:black;
    font-weight: bold;
}
h1 {
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

a{
    padding: 0 10px; 
    color: white;
    text-decoration: none;
}

/* Title Section */

.custom-navbar{
    background-color: #228B22;
    font-family: "Helvetica", sans-serif;
    font-weight:bold; 
}

.nav-text{
    color: white;

}

.nav-text:hover{
    color:black;
}

.title-text{ 
    text-align: center;
}

.link-btn{
    margin: 10px 10px; 
}

.container-fluid{
    padding:0;
}

.title-image{
    position:relative;
    height: 300px;
    width: 300px;
    margin: 0 25%;

    width:50%;
}

