body{
    background-color: white;
 
}

h1,h3{
    text-align: center;
    font-family: "Helvetica", sans-serif; 
    font-weight: bold;
}
h1 {
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

a{
    padding: 0 10px; 
    color: white;
    text-decoration: none;
}

/* Title Section */

.custom-navbar{
    background-color: 	#023020;
    font-family: "Helvetica", sans-serif;
    font-weight:bold; 
    padding: 15px; 
}

.nav-text{
    color: white;

}

.nav-text:hover{
    color:black;
}

.title-text{ 
    margin: 3% 10%; 
    text-align: center;
    color:white;
}

.link-btn{
    margin: 10px 10px; 
}

.title-container{
    padding:0;
}



.title-background{
    position:relative;
    width: 100%;
    display: block;
    overflow: auto;
}

.title-text{
    top: 35%;
    margin: 0 25%;
    position:absolute;
    color: #fff;
}
.title-image{
    position:relative;
    height: 200px;
    width: 200px;
     margin: 50px 35%;
    width:30%;
}
